In [1]:
import pandas as pd

df = pd.read_csv("train.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [22]:
for column in df:
    print(column, ": ", df[column].isnull().sum() )

PassengerId :  0
Survived :  0
Pclass :  0
Name :  0
Sex :  0
Age :  0
SibSp :  0
Parch :  0
Ticket :  0
Fare :  0
Embarked :  0

In [16]:
# Age - we can put median
# Age :  177
# Cabin is huge null value so we can drop
# Cabin :  687
# Embarked has letter and put most commonly used letter and replace null with letter
# Embarked :  2

# fill null values with median - inplace=True means we want to save the changed values
df["Age"].fillna(df["Age"].median(), inplace=True)

In [18]:
# Number of occurences of each value.
print(df["Embarked"].value_counts())

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [19]:
# replace null with most commonly occurance value = S
df["Embarked"].fillna("S", inplace=True)

In [21]:
# delete cabin
del df["Cabin"]